/* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
	width: 100vw;
	height:90vh;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('img/banner1.jpg');
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

nav{
	width: 100%;
	height:80px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 80px;
	position:fixed;
	top:0;
	background:white;
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.logo{
	font-family: sans-serif;
	font-size:2.5em;
}

.logo span{
	color: rgb(100, 72, 72);
}

.menu a{
	text-decoration: none;
	color: black;
	font-size:20px;
	padding: 10px 20px;
	font-family: sans-serif;

}
.menu a:first-child{
	color:rgb(100, 72, 72);
}
.menu a:hover{
	color: rgb(100, 72, 72);
	transition: 0.4s;
}
.login i{
	font-size:20px;
}
.login i:hover{
	color: rgb(100, 72, 72);
}
.login a{
	padding:10px 20px;
	background:rgb(100, 72, 72);
	color:white;
	text-decoration: none;
	margin-left:30px;
	border-radius: 5px;  
}
.login a:hover{
	background: transparent;
	border:1px solid rgb(100, 72, 72);
	color: black;
	transition: 0.4s ease;
} */


/* 베스트 셀러*/
/* .bestseller {
	position: relative;
	overflow: hidden;
	padding: 20px;
  }
  
  .bestseller-text {
	padding: 0 10vw;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: capitalize;
  }
  
  .bestseller-container {
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
  }
  
  .bestseller-container::-webkit-scrollbar {
	display: none;
  }
  
  .bestseller-card {
	flex: 0 0 auto;
	width: 250px;
	height: 450px;
  }
  
  .bestseller-image {
	position: relative;
	width: 80%;
	height: 300px;
	overflow: hidden;
  }
  
  .bestseller-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
   */
  /* .card-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
  }
  
  .bestseller-card:hover .card-btn {
	opacity: 1;
  }
  
  .card-btn:hover {
	background: #ff7d7d;
	color: #fff;
  } */
  
  /* .bestseller-info {
	width: 100%;
	height: 100px;
	padding-top: 10px;
  }
  
  .bestseller-caption {
	text-transform: uppercase;
	font-size: larger;
  }
  
  .bestseller-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.7;
	text-transform: capitalize;
	margin: 5px 0;
	font-size: small;
  }
  
  .pre-btn,
  .nxt-btn {
	border: none;
	width: 10vw;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	cursor: pointer;
	z-index: 8;
  }
  
  .pre-btn {
	left: 0;
	transform: rotate(180deg);
  }
  
  .nxt-btn {
	right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
	opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
	opacity: 1;
  } */
  
/*메뉴바*/
/* .category{
	position: relative;
	z-index: -1;
}
.category-nav{
	background: rgb(100, 72, 72);
	border-radius: 50px;
	padding: 10px;
	box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
	width: 600px;
	height: 50px;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.category-nav ul li{
	list-style: none;
	display: inline-block;
	padding: 13px 35px;
	margin: 10px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 0.5s;
}

.category-nav ul li::after{
	content: '';
	background: #ffffff;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0;
	transition: top 0.5s, opacity 0.5s;
}

.category-nav ul li:hover{
	color:#000000;
}

.category-nav ul li:hover::after{
	top: 50%;
	opacity: 1;
}

.portfolio-menu{
	text-align: center;
	margin-bottom: 20px;
}
.portfolio-menu ul li{
	list-style: none;
	display: inline-block;
	margin:20px 0px;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.5s ease;
	text-align: center;
	

}
.portfolio-menu ul li:hover{
	background:  #e74c3c;
	color: white;
	border-radius: 8px;
}
li.active{
	background:#e74c3c;
	color: white;
	border-radius: 8px;
}
.category-item{
	width: 100%;
}
.category-item .item{
	width:360px ;
	height:360px;
	float: left;
	margin-bottom:20px;
	margin-right: 20px;
}
.category-item .item img{
width: 100%;
height: 100%;
border-radius: 8px;
} */