* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

body {
    overflow: scroll;
    /* IE scroll 숨김 */
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

body,
html {
    font-size: 14px;
    line-height: 1.5;
    max-width: 1920px;
    width: 100%;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.w {
    width: 1224px;
    margin: 0 auto;
}

div.isBlock {
    margin-top: 67px;
}

div.top {
    position: relative;
    width: 100%;
}

div.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 67px;
    background-color: #62492b;
}

div.logo {
    position: absolute;
    top: -62px;
    left: 20px;
    width: 160px;
    height: 190px;
    margin-right: 90px;
}

.header-tab {
    padding-left: 200px;
}

div.logo img {
    width: 100%;
    height: 100%;
}

div.header {
    background-color: #62492b;
}

div.header-content {
    height: 67px;
    color: #fff;
}

div.header-content div,
div.header-content ul {
    display: inline-block;
    line-height: 67px;
    vertical-align: middle;
}

div.header-content ul li {
    display: inline-block;
    height: 67px;
    margin-right: 55px;
    cursor: pointer;
}

.liBor {
    border-bottom: 3px solid rgb(250, 103, 37);
}

div.search {
    width: 190px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 76px;
}

div.login {
    float: right;
    margin-right: 10px;
    color: #fff;
    letter-spacing: 10px;
}

div.login button {
    width: 70px;
    height: 30px;
    color: #54252d;
    border-radius: 20px;
    border: none;
}

div.login button:hover {
    background-color: #62492b;
    color: white;
    border: 1px solid white;
}

div.focus {
    position: relative;
    width: 100%;
    height: 459px;
    cursor: pointer;
}

div.focus ul li {
    width: 100%;
    height: 100%;
    display: none;
    animation: isBlock 0.6s ease-in-out;
}

div.focus ul li img {
    width: 100%;
    height: 420px;
}

@keyframes isBlock {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    25% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

div.focus div.circle {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
}

div.circle span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50px;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #62492b;
}

div.circle .circleColor {
    background-color: #62492b;
}

div.message {
    position: absolute;
    bottom: -180px;
    left: 50%;
    transform: translateX(-50%);
    width: 1174px;
}

div.top-left {
    float: left;
    width: 680px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fcfcfc;
    margin-right: 30px;
}

div.top-left ul li {
    float: left;
    width: 50%;
    height: 250px;
}

div.top-left ul li:nth-child(1) {

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.top-left ul li:nth-child(2) {

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.top-right {
    float: left;
    width: 464px;
    height: 250px;
    border-radius: 30px;
    padding: 30px;
    overflow: hidden;
    background-color: #fcfcfc;
}

div.top-right-header {
    height: 40px;
    overflow: hidden;
}

div.top-right-header h2 {
    float: left;
    font-weight: 400;
}

div.top-right-header span {
    display: block;
    float: right;
}

div.top-right-content p {
    line-height: 33px;
}

div.recommend {
    margin-top: 330px;
}

div.re-header {
    height: 40px;
    margin-bottom: 40px;
}

div.re-header-right,
div.re-header-left {
    border-bottom: 1px solid rgb(238, 238, 238);
    line-height: 40px;
    padding-left: 10px;
    font-size: 18px;
}

div.re-header-left {
    width: 869px;
    height: 40px;
    margin-right: 40px;
}

div.re-header-right {
    width: 311px;
    height: 40px;
}

div.re-header-left,
div.re-header-right {
    display: inline-block;
}

div.re-content-left {
    width: 1200px;
    margin-right: 40px;
    float: left;
}

div.re-content-right {
    width: 311px;
    /* height: 455px; */
    float: left;
}

div.box-header-content {
    float: left;
    width: 214px;
    margin-right: 100px;
}

div.box-header-content div.img {
    width: 214px;
    height: 295px;
    overflow: hidden;
}

div.img img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

div.img:hover img {
    transform: scale(1.2);
}

div.text {
    display: block;
    background-color: #f4f4f4;
}

div.text h2 {
    font-weight: 400;
}

div.text span {
    display: block;
    color: red;
    margin: 5px 0;
}

div.text p {
    line-height: 1.3;
    color: #000;
}

div.box-header-content-right {
    overflow: hidden;
}

div.box-header-content-right ul li {
    display: inline-block;
    width: 252px;
    height: 117px;
    margin-bottom: 20px;
}

div.box-header-content-right ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 12px;
}

div.box-header-content-right ul li a div.img {
    float: left;
    width: 90px;
    height: 117px;
    margin-right: 20px;
    overflow: hidden;
}

div.box-header-content-right ul li a div.img img {
    transition: all 0.3s;
}

div.img:hover img {
    transform: scale(1.3);
}

div.box-header-content-right ul li a img {
    float: left;
    width: 90px;
    height: 117px;
    margin-right: 20px;
}

div.box-header-content-right ul li:nth-child(n+8) {
    margin-bottom: 0;
}

div.box-header-content-text {
    overflow: hidden;
}

div.box-header-content-text h2 {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

div.box-header-content-text h3 {
    color: black;
}

div.box-header-content-text h3 {
    color: black;

}

div.box-header-content-text span {
    display: block;
    font-size: 12px;
    margin: 5px 0;
    color: #666;
}

div.box-header-content-text p {
    font-size: 12px;
    color: #9999;
}

div.re-content-message {
    padding: 20px;
}

div.re-content-message h3.item {
    font-weight: 400;
    line-height: 40px;
    width: 100%;
}

h3.item span {
    display: inline-block;
    margin-right: 30px;
    color: #999;
}

h3.item a {
    color: #000;
}

h3.item {
    font-size: 14px;
}

#login-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #f4f4f4;
    display: none;
}

div.left-List {
    float: left;
    width: 153px;
    border-right: 1px solid rgb(229, 229, 229);
}

ul.ULList li {
    height: 36px;
    text-align: left;
    line-height: 36px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

ul.ULList li:hover {
    color: orange;
}

.ULListLiStyle {
    background-color: rgb(255, 240, 234);
    color: orange !important;
    border-right: 2px solid rgb(250, 103, 37);
}

div.prefecture-author {
    width: 100%;
    background-size: 100% 100%;
    padding-top: 70px;
}

div.pre-aut-header {
    height: 336px;
    margin-bottom: 50px;
}

div.pre-aut-header h2,
div.pre-aut-header h3 {
    font-weight: 400;
}

div.pre-aut-header h2 {
    letter-spacing: 5px;
    font-size: 70px;
}

div.pre-aut-header h3 {
    font-size: 30px;
    color: #999;
}

div.aut-btn {
    width: 148px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(117deg, #ff9000, #ff4f00);
    margin-top: 60px;
}

div.new_Speak_writer {
    margin-top: 50px;
}

div.new_Speak_writer_header {
    height: 60px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

div.new_Speak_writer_header div {
    display: inline-block;
    line-height: 60px;
}

div.new_Speak_writer_header>div.text-left {
    float: left;
}

div.new_Speak_writer_header>div.text-right {
    float: right;
}

div.new_Speak_writer_content {
    padding-top: 30px;
}

div.new_Speak_item {
    float: left;
    width: 168px;
    height: 180px;
    border-radius: 15px;
    background-color: rgb(243, 246, 250);
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.new_Speak_writer_content>div:first-child {
    margin-left: 0;
}

div.Speak_item_radius_img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: skyblue;
    overflow: hidden;
    margin-bottom: 20px;
}

div.Speak_item_radius_img img {
    width: 100%;
    height: 100%;
}

div.new_Speak_item p {
    line-height: 2;
}

div.new_Speak_item p:last-child {
    color: #999;
}

div.footer {
    margin-top: 90px;
    background-color: rgb(241, 241, 241);
    height: 100px;
}

div.footer-content {
    position: relative;
    overflow: hidden;
}

div.footer-content a{
    color:#000;
}

/* 글쓰기  css*/
.form_box {
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid #62492b;
    padding: 10px;
}

/* .form_smail_box{
    height: 430px;
    position: relative;
    background-color: white;
    border: 2px solid #62492b;
    border-radius: 10px;
} */
.form_box h2 {
    font-family: Gulim;
}

.form_box textarea {
    height: 250px;
    resize: none;
}

.form_box select {}

.input_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}

.textarea_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
    height: 160px;
}

div.form_box button {
    width: 60px;
    height: 30px;
    background-color: #62492b;
    border: none;
    color: #ffffff;
    border-radius: 25px;
    padding: 2px 8px;
    font-size: 15px;
    margin-top: 30;
    margin-left: 10px;
}

.form_box {
    margin: 5px;
    margin-left: 240px;
    margin-right: 250px;
    height: 500px;
}

.input_field {
    margin-bottom: 13px;

}

