.container{
    display: grid;
    
}
header{
    grid-column: 1/3;
    height: 130px;
}
.component01{
    position: relative;
    left: -5px;
    top: -20px;
    
}
header nav{
    background-color: pink;
    position: relative;
    bottom: -95px;
    border-top:2px solid black;
    border-bottom:2px solid black;
    height:30px
    
}
section{   
    height: 100vh;
    /* background-color: aqua; */
}
aside{
}
.menu > li{                             /*메뉴에 글자*/
    border-bottom: 1px;
    margin-left: 150px;
    position:relative;
    bottom: 11px;
}
.searchbox{
    position: absolute;
    border:none;
    background-color: rgb(100, 72, 72);
    width: 200px;
    padding: 6px;
    border-radius: 110px;
    right: 10px;
    top: 50px;
}
input.underline{
    position: relative;
    bottom: 3px;
    border-bottom: 1px solid white;
    border: none; 
    background: transparent;
    color: white;
    outline:none;
    width: 174px;
}
::placeholder {
    color: white;
    border-bottom: 1px solid white;
}
button{
    background-color:transparent;
    border: 0;
}
.account{
    position: absolute;
    right: 10px;
    top: 15px;
}
.menu > li > button{
    font-size:15px;
}
div.popularBook{
    position: relative;
    top: 90px;
    left: 50px;
    font-size: 8px;
    background-color: rgba(218, 216, 216, 0.486);
    width: 300px;
    height: 200px;
}
.popularContent{
    position: absolute;
    top: 30px;
    left: 130px;
    padding-right:15px;
}
.hr{
    position:absolute;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    font-size: 15px;
    width: 320px;
    top: 62px;
    left: 40px;
}
.hr::before, .hr::after {
    content: "";
    flex-grow: 1;
    background: black;
    height: 2px;
    margin: 0px 10px;
}
.viewMore{
    position: absolute;
    left: 300px;
    top: 50px;
    font-size: 12px;
}
.hr2{
    position:absolute;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    font-size: 15px;
    width: 380px;
    top: 200px;
    left: 490px;
}
.hr2::before, .hr2::after {
    content: "";
    flex-grow: 1;
    background: black;
    height: 2px;
    margin: 0px 10px;
}
div.recommend{
    position: absolute;
    top: 227px;
    left: 500px;
    font-size: 8px;
    background-color: rgba(218, 216, 216, 0.486);
    width: 160px;
    height: 200px;
}
div.recommend2{
    position: absolute;
    top: 227px;
    left: 700px;
    font-size: 8px;
    background-color: rgba(218, 216, 216, 0.486);
    width: 160px;
    height: 200px;
}
[src ^= "left"], [src ^= "right"]{
    filter: opacity(0.5) drop-shadow(0 0 0 gray);
}
.component02{
    position: relative;
    left: -70px;
    top: -358px;
}
.hr3{
    position:absolute;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    font-size: 15px;
    width: 800px;
    top: 140px;
    left:51px;
}
.hr3::before, .hr3::after {
    content: "";
    flex-grow: 1;
    background: black;
    height: 2px;
    margin: 0px 10px;
}
.menu02 > li{
    border-bottom: 1px;
    list-style-type: none;
    display: inline;
    margin-left: 150px;
    margin-bottom: -10px;
    position:relative;
    bottom: 11px;
    margin-left: 130px;
}
.menu02 > li > button{
    font-size:15px;
}
section nav{
    position: relative;
    top: 170px;
    left: -13px;
}
li{
    list-style-type: none;
    display: inline;
}
.component04 > img{
    width: 50px;
}
.component04{
    position: relative;
    top: -35px;
}
[src ^= "book_img"]{                /* 책라인*/
    position: relative;
    width: 100px;
    left: 27px;
    margin-left: 40px;
}
.book_line01{
    position: relative;
    top: 150px;
}
.component03{
    position: relative;
    top: -20px;
}

